button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

button:focus {
    outline: none;
}

.car-card {
    display: flex;
    align-items: normal;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.car-card img {
    position: relative;
    width: 50%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

/*.thumbnail {*/
/*    width: 150px;*/
/*    height: auto;*/
/*    cursor: pointer;*/
/*    margin: 0 10px;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

.thumbnail:hover {
    transform: scale(1.05);
}

.image-container {
    display: flex;
    align-items: center;
}

.car-info {
    margin-right: 290px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
}
